#submit{
    background-color:#000;
    color:#00cd00;
    font-family: 'VT323', monospace;
}
#submit:hover{
        color: #000;
        background-color:#00cd00; 
}
#textarea, #textFeedback, #email, #email2{
    background-color:#000;
    color:#00cd00;
    font-family: 'VT323', monospace;
    font-size:32px;

}
body{
    text-align: center;
    background-color:#000000
}
    h1{
        text-align: center;
        font-size: 80px;
        font-family: 'VT323', monospace;
        text-align: center;
        color:#00cd00;
    }
    html{
        height:100%;
        width:100%;
    }
 
    
    .error{
        display:block;
        font-size:32px;
    }
    
    
    

    
   
 
 
    
    label{
        color:#00cd00;
        background-color:transparent;
        font-family: 'VT323', monospace;
        font-size: 40px;
    }
  
    input{
        border-color: #00cd00;
        font-size:30px;	
    }
    form{
        width:40%;
        margin: auto;
        }

    
    input[type="button"], input[type="text"], input[type="email"]  {
         color:#00cd00;
         background-color:transparent;
         font-family: 'VT323', monospace;
         font-size: 40px;
    }
    input[type="submit"]{
        font-size: 40px;
    }
    input[type="submit"]:hover, .buttons:hover{
        color:#000;
        background: #00cd00;
        font-size: 40px;
    }


